<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ppg">
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".base.BaseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.view.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.view.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.UserManageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.UserMsgActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.MyProjectActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ProjectDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.AddActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportTeDisRActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportTeDisROneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.EditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.ReportTeDisRTwoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportTeDisRThreeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportTeDisRFourActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportHaCoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportSpRaActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportSeReActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportTeReActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportHaCoTwoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.EditImgAddActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportSpRaOneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportSpRaTwoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.ReportSpRaTwoOneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.view.activity.CameraActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <!--我的任务-->
        <activity android:name=".mvp.view.activity.TaskManageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

    </application>

</manifest>